$primarycolor: #DEDEDE;
$secondarycolor: #707070;
$tertiarycolor: #18B5AD;

body {
    background-color: $primarycolor;
    color: $tertiarycolor;
    header {
        nav {

        }
    }
    main {
        text-align: center;
        h1 {
            text-align: center;
            color: black;
            background-color: $tertiarycolor;
            border: 1px solid black;
        }
        .col-xs-4 {
            background-color: $secondarycolor;
            border: 1px solid black;
            box-shadow: 5px 5px 0 0;
        }
    }

}
